# 3D模型格式
*.fbx filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.obj filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.blend filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.max filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.ma filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.mb filter=lfs diff=lfs merge=lfs -text linguist-documentatio

# 纹理和图片
*.psd filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.tga filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.tiff filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.exr filter=lfs diff=lfs merge=lfs -text linguist-documentatio
*.terrainlayer linguist-documentation

# 音频文件
*.wav filter=lfs diff=lfs merge=lfs -text
*.aif filter=lfs diff=lfs merge=lfs -text

# 视频文件
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text

# Unity资源文件
*.asset filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text

# 其他二进制文件
*.unitypackage filter=lfs diff=lfs merge=lfs -text
